@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --veryDarkMagenta: 300, 43%, 22%;
  --softPink: 333, 80%, 67%;
  --darkGrayishMagenta: 303, 10%, 53%;
  --lightGrayishMagenta: 300, 24%, 96%;
  --white:0, 0%, 100%;

  --hslVeryDarkMagenta: hsl(300, 43%, 22%);
  --hslSoftPink: hsl(333, 80%, 67%);
  --hslDarkGrayishMagenta: hsl(303, 10%, 53%);
  --hslLightGrayishMagenta: hsl(300, 24%, 96%);
  --hslWhite:hsl(0, 0%, 100%);
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'League Spartan', sans-serif;
}

svg,
img {
  display: block;
  max-width: 100%;
}

.App {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}
main {
  width: min(90%,85rem);
}

@media (max-width:600px) {
  .App {
    padding: 4rem 0;
  }
}
